---
---

{% include header.html %}


<!-- link to language counter part -->
    <div class="lang">
        <p></p>
    </div>
</div>

<!-- content -->
    <div class="column site-wrapper">

<!-- Single radio broadcast button -->
          <div id="radio" class="horizontal">

            <div class="radio-logo">
                <img src="assets/img/orHaolam.png" alt="">
            </div>

            <div class="button amplitude-play-pause" amplitude-main-play-pause="true">
            </div>
          </div>

    </div>

{% include footer.html %}
