<div class="footer-base">

<div class="horizontal footer">

    <div class="social">
        <p>
            <a target="_blank" href="http://bereainternacional.com/"><img src="assets/img/CCBLogo.png" alt="bereaInternacional"/></a>
            <a target="_blank" href="https://www.facebook.com/La-Luz-del-Mundo-en-Israel-%D7%90%D7%95%D7%A8-%D7%94%D7%A2%D7%95%D7%9C%D7%9D-%D7%91%D7%99%D7%A9%D7%A8%D7%90%D7%9C-425448717534144/"><img src="assets/img/facebook.svg" alt="LldmIsrael" /></a>
        </p>
    </div>

    <div class="column address">

       <a href="https://goo.gl/maps/QX4JRAMdbqF2">
            6037 / 8</br>
            Nazaret, IL
        </a>

        <p>
            t: <a href="tel:0544257412">054&middot;425&middot;7412</a>
        </p>
    </div>

    <!--<div class="column hours">
        <p>Times of reunion</p>

        <p>Sunday</br>
        10:00 - 12:00</br>
        15:00 - 17:00</p>

        <p>Weekdays</br>
        05:00 - 05:30</br>
        09:00 - 10:00</br>
        19:00 - 20:00</p>
    </div>-->
</div>
</div>

<div class="copy">
    <p>&copy;2017 Lldm in Israel</p>
</div>

<section id="menu">
    <div class="column slide">
        <ul>
            <li><!--<a href="index.html">-->About Us</a></li>
        </ul>

        <p id="aboutus">
          The Church of the living God, Column and pillar of the Truth, is the restoration
          of God's one true church.
        </p>

        <div class="slide_social">
            <a target="_blank" href="http://m2.facebook.com/queenslldm"><img src="assets/img/facebook.svg" alt="Lldmqueens NY" /></a>
              <a target="_blank" href="http://bereainternacional.com/"><p>International Site</p></a>
        </div>

        <div class="slide_footer">
            <p>&copy;2017 האור העולם</p>
            <!-- <img src="assets/img/QLogo1.png" alt="queens" /> -->
        </div>
    </div>
</section>


<div id="trigger">
    <a href="#" class="nav-trigger">
        <span>Menu</span>
    </a>
</div>


<!--JavaScript files at end to save on load times -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js"></script>
        <script type="text/javascript" src="assets/js/amplitude.min.js"></script>
        <!--js-->
        <script src="assets/js/secondJS.js"></script>


    </body>
</html>
